---
import type { MarkdownHeading } from 'astro'

import TOC from './toc.astro'

interface Props {
  headings?: Array<MarkdownHeading>
  minutesRead?: string
  lastModified?: string
}

const { headings, minutesRead, lastModified } = Astro.props
---

<aside class="hidden w-72 py-6 md:block">
  <div class="sticky top-20 self-start">
    <dl>
      <dt class="text-sm font-medium">Last Updated</dt>
      <dd class="text-muted-foreground">{lastModified}</dd>
      <dt class="mt-5 text-sm font-medium">Reading Time</dt>
      <dd class="text-muted-foreground">{minutesRead}</dd>
      <dt class="mt-5 text-sm font-medium">On This Page</dt>
      {
        headings?.length && (
          <dd>
            <TOC headings={headings} />
          </dd>
        )
      }
    </dl>
  </div>
</aside>
