---
import { parseClassNames } from '@/helpers/parseClassNames'

interface Props {
  class?: string
  href?: string
}

const { class: className, href } = Astro.props
---

<div
  class={parseClassNames(
    'relative rounded-lg border p-6 shadow-md transition-shadow hover:shadow-lg',
    className
  )}
>
  <slot />
  {href && <a class="absolute inset-0" href={href} />}
</div>
