---
import dayjs from 'dayjs'
---

<footer class="border-t">
  <div class="container flex items-center justify-center gap-4 py-2">
    <span>Copyright {dayjs().year()} Samsung Electronics</span>
  </div>
</footer>
