---
import { getCollection } from 'astro:content'

import { baseHref } from '@/helpers/href'
import Base from '@/layouts/base.astro'

const authCollection = await getCollection('authentication')

// maybe we can list all the topics on this page. Similar to a site map?
// create a common function that segregates the auth collection based on their categories and sorts them too
---

<Base title="Wiki">
  <div class="mx-auto">
    <h3 class="text-md">Authentication</h3>
    <ul>
      {
        authCollection.map(({ id, data: { title } }) => (
          <li>
            <a
              href={baseHref(`/wiki/authentication/${id}`)}
              class="text-sm text-muted-foreground hover:text-primary hover:underline"
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Base>
