---
import { ClientRouter } from 'astro:transitions'

import Footer from '@/components/footer/index.astro'
import Header from '@/components/header/index.astro'

import '@/styles/global.css'

interface Props {
  title?: string
  description?: string
  footer?: boolean
}

const { title, description, footer = true } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Knowledge Transfer Documentation" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? 'KT Docs'}</title>
    {description && <meta name="description" content={description} />}
    <ClientRouter />
  </head>
  <body
    class="isolate flex h-fit min-h-screen w-full flex-col overflow-x-clip"
  >
    <Header />
    <main class="relative flex grow flex-col">
      <div class="flex grow">
        <slot />
      </div>
      {footer && <Footer />}
    </main>
  </body>
</html>
