---
import BaseLayout from './base.astro'
const { minutesRead, title } = Astro.props.frontmatter

// Place sidebar here? Query all content from content layer then render as sidebar links
---

<BaseLayout title={title}>
  <div class="flex">
    <div>
      <slot />
    </div>
    <p>{minutesRead}</p>
  </div>
</BaseLayout>
