---
import { getCollection } from 'astro:content'

// const x = await getCollection('persons')

// console.log({ x })

// const notes = await getCollection('notes')

// console.log({ notes })

const docs = await getCollection('docs')
const blog = await getCollection('blog')

console.log({ docs, blog })
---

<div>
  {
    docs.map(({ data: { title, description } }) => {
      return (
        <div class="mb-5">
          <div>{title}</div>
          <div>{description}</div>
        </div>
      )
    })
  }
</div>
