---
import type { MarkdownHeading } from 'astro'

import { parseClassNames } from '@/helpers/parseClassNames'

interface Props {
  headings: Array<MarkdownHeading>
}

const { headings } = Astro.props

const { pathname } = Astro.url

const headingsToRender = headings.filter(({ depth }) => depth <= 3)
---

<ul id="toc" class="m-0 list-none space-y-0.5">
  {
    headingsToRender.map(({ depth, slug, text }) => {
      return (
        <li
          class={parseClassNames(
            'text-sm',
            ['pl-0', depth === 1],
            ['pl-3', depth === 2],
            ['pl-6', depth === 3],
          )}
        >
          <a
            href={`${pathname}#${slug}`}
            class="text-muted-foreground hover:text-electric block py-1 transition-colors"
          >
            {text}
          </a>
        </li>
      )
    })
  }
</ul>

<script>
  function highlightActiveFragment() {
    const currentHash = location.hash
    const toc = document.querySelector('ul#toc')
    toc?.querySelectorAll('a').forEach((anchor) => {
      anchor.classList.remove('text-electric')
      anchor.classList.add('text-muted-foreground')
    })
    if (currentHash) {
      const activeAnchor = toc?.querySelector(`a[href$="${currentHash}"]`)
      if (activeAnchor) {
        activeAnchor.classList.remove('text-muted-foreground')
        activeAnchor.classList.add('text-electric')
      }
    }
  }

  highlightActiveFragment()
  document.addEventListener('astro:page-load', highlightActiveFragment)
  window.addEventListener('hashchange', highlightActiveFragment)
</script>
